body {
  --color-accent-1: #0d9b8f;
  --color-accent-2: #cc703a;
  --color-main-dark: #2d2d2d;
  --color-main-light: #ccd7da;
  background-color: var(--color-main-dark);
  color: var(--color-main-light);
  text-align: center;
  font-size: 62.5%;
}

.header {
  font-size: 5rem;
  color: var(--color-accent-1);
}

.calculator {
  border: 0.75rem solid var(--color-main-light);
  border-radius: 1rem;
  background-color: var(--color-accent-1);
  width: 40rem;
  margin: auto;
}

  .calculator-display {
    background-color: var(--color-main-dark);
    border: 0.2rem solid var(--color-main-light);
    border-radius: 0.5rem;
    margin: 1rem 1rem 0.5rem;
  }

  .calculator-display-div {
    text-align: right;
    padding: 0.75rem 1.25rem;
  }

    .calculator-display-div.mod-past-result {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .calculator-display-div.mod-user-input {
      font-size: 5rem;
      font-weight: 600;
    }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.70rem;
  }

    .calculator-keys-btn {
      border: none;
      border-radius: 0.5rem;
      background-color: var(--color-main-dark);
      color: var(--color-main-light);
      font-size: 4rem;
      margin: 1rem;
    }

    .calculator-keys-btn:hover {
      background-color: #4b4b4b;
    }

    .calculator-keys-btn.mod-all-clear {
      background-color: var(--color-main-light);
      color: var(--color-main-dark);
    }

    .calculator-keys-btn.mod-all-clear:hover {
      background-color: #dde9ec;
    }

    .calculator-keys-btn.mod-equal-sign {
      grid-area: 2 / 4 / 6 / 5;
      background-color: var(--color-accent-2);
    }

    .calculator-keys-btn.mod-equal-sign:hover {
      background-color: #d87b46;
    }

    .calculator-keys-btn.mod-operator {
      color: var(--color-accent-2);
    }

/*
.header
.calculator
  .calculator-display
    .calculator-display-div.mod-past-result #display-past-result
    .calculator-display-div.mod-user-input  #display-user-input
  .calculator-keys
    .calculator-keys-btn
    .calculator-keys-btn.mod-all-clear
    .calculator-keys-btn.mod-equal-sign
    .calculator-keys-btn.mod-operator

value: [+, -, *, /, 7, 8, 9, 4, 5, 6, 1, 2, 3, 0, ., AC, =]
*/