body {
  --accent-color-main: #0aac9e;
  --accent-color-secondary: #ccd7da;
  --bg-color-main: #2d2d2d;
  --bg-color-btn: #3a3a3a;
  --bg-color-btn-lighter: #525252;
  --bg-color-btn-hover: #6e6e6e;
  background-color: var(--bg-color-main);
  color: var(--accent-color-main);
  text-align: center;
}

.header {
  font-size: 5.0rem;
}

.calc-container {
  font-size: 3.0rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  border: 5px solid var(--accent-color-main);
  border-radius: 5px;
  color: var(--accent-color-secondary);
  box-shadow: 7px 7px black;
}

  .calc-results-display {
    background-color: var(--bg-color-main);
    padding: 30px;
    border: 2px solid var(--accent-color-main);
    overflow: hidden;
  }

    .calc-results-display-input {
      font-size: 1.8rem;
      text-align: right;
      min-height: 40px;
    }

    .calc-results-display-answer {
      text-align: right;
      font-weight: bold;
    }
  
    .calc-buttons {

    }

      .calc-buttons-row {
        display: flex;
      }

        .calc-buttons-row-btn {
          flex-basis: 0;
          flex-grow: 1;
          background-color: var(--bg-color-btn-lighter);
          padding: 5% 0;
          border: 1px solid var(--accent-color-main);
        }

        .calc-buttons-row-btn.mod-numpad {
          background-color: var(--bg-color-btn);
        }

        .calc-buttons-row-btn.mod-big {
          flex-grow: 2.01;
          background-color: rgb(189, 116, 89);
        }

        .calc-buttons-row-btn:hover {
          background-color: var(--bg-color-btn-hover);
        }

        .calc-buttons-row-btn:active {
          opacity: 80%;
        }